<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>p5.js</title>
    <meta name="description" content="p5.js CDN Template">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/addons/p5.dom.js"></script>
    <script src="/sketch.js"></script>   
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>
  <body> 
  </body>
</html>
